<!DOCTYPE html>
<html lang="ko">
<head>
    {{> header }}
    <link type="text/css" rel="stylesheet" href="/lib/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/rooms.css"/>
</head>

<body>
<div id="wrapper">
    {{> navBar }}

    <div class="title">Chat Rooms</div>

    <ul class="room-list">
        <!--<li class="room waves-effect waves-light btn z-depth-1">Default room</li>-->
        {{# rooms }}
        <li class="room waves-effect waves-light btn z-depth-1" name="roomId" value="{{id}}">
            <a href="/chat/{{id}}" style="display: block">{{title}} : [made by {{maker.userId}}]</a>
        </li>
        {{/ rooms }}
    </ul>

    <a class="btn-floating btn-large waves-effect waves-light cyan accent-4 add-room-btn">
        <i class="material-icons">add</i>
    </a>


    <!--------------------  Modal HTML-------------------------------->
    <div id="modal" class="modal">
        <div class="close-modal"></div>
        <!--<form class="add-room-form" action="/toDoBoard/addBoard" method="post">-->
        <form class="add-room-form" action="/api/chat/addRoom" method="post">
            <h5>Chat room name</h5>
            <div class="input-field col s12">
                <input class="room-name" id="room-name" name="title" type="text" placeholder="Room name">
            </div>
            <p class="warning">Please Write Chat room name!</p>
            <div class="btn-area">
                <div class="save waves-effect waves-light btn cyan accent-4 lighten-5" type="submit">save</div>
            </div>
        </form>
    </div>
</div>
<!----------------------------------------------------------------->

<script type="text/javascript" src="/lib/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/lib/materialize.min.js"></script>
<script type="text/javascript" src="/js/template.js"></script>
<script type="text/javascript" src="/js/roomList.js"></script>
</body>
</html>
