<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<button type="button" class="btn btn-outline-primary" id="menu-toggle"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
	<a class="navbar-brand" style="color: white;"><i class="material-icons" style="font-size:20px">smoking_rooms</i>&nbsp T &nbsp O &nbsp R &nbsp P</a>
	
	<div class="container">
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<!-- <ul class="navbar-nav ml-auto">
				<a class="btn btn-primary" href="/" role="button"><span class="glyphicon glyphicon-home"></span>&nbsp HOME</a>
			</ul> -->
		</div>
	</div>
	
	<div class="btn-group" style="margin-right: 10px;">
	<a class="btn btn-primary" href="/" role="button"><span class="glyphicon glyphicon-home"></span>&nbsp HOME</a>
	</div>
	
	{{^loginedUser}}		<!--non-login -->
	<div class="btn-group" style="margin-right: 10px;">
		<button type="button" class="btn btn-info dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-user"></span>&nbsp USER
		</button>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="/user/joinForm"><span class="glyphicon glyphicon-plus"></span>&nbsp JOIN</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/user/loginForm"><span class="glyphicon glyphicon-log-in"></span>&nbsp LOGIN</a>
		</div>
	</div>
	
	<div class="btn-group" style="margin-right: 10px;">
		<button type="button" class="btn btn-success dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-calendar"></span>&nbsp SCHEDULING
		</button>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="#">TEST---</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">TEST---</a>
		</div>
	</div>
	
	<div class="btn-group" style="margin-right: 10px;">
		<button type="button" class="btn btn-warning dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-globe"></span>&nbsp COMMUNITY
		</button>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="#">QnA BOARD</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">TODAY's HUMOR</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">EMPLOYMENT DATA</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">TODAY's BOOK</a>
		</div>
	</div>
	
	<div class="btn-group" style="margin-right: 100px;">
		<button type="button" class="btn btn-danger dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-send"></span>&nbsp CHAT
		</button>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="#">TOTAL CHATROOM</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">MAKE CHATROOM</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">DIRECT MESSAGE</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">ALERT CHANNEL</a>
		</div>
	</div>
	{{/loginedUser}}
	
	{{#loginedUser}}			<!-- login user -->
	<div class="btn-group" style="margin-right: 10px;">
		<button type="button" class="btn btn-info dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-user"></span>&nbsp {{loginedUser.name}}
		</button>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="/user/updateForm"><span class="glyphicon glyphicon-pencil"></span>&nbsp EDIT MY INFO</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#"><span class="glyphicon glyphicon-wrench"></span>&nbsp CHANGE PASSWORD</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/user/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp LOGOUT</a>
		</div>
	</div>
	
	<div class="btn-group" style="margin-right: 10px;">
		<button type="button" class="btn btn-success dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-calendar"></span>&nbsp SCHEDULING
		</button>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="#"><span class="glyphicon glyphicon-time"></span>&nbsp MY SCHEDULE</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#"><span class="glyphicon glyphicon-list-alt"></span>&nbsp TODO LIST</a>
		</div>
	</div>
	
	<div class="btn-group" style="margin-right: 10px;">
		<button type="button" class="btn btn-warning dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-globe"></span>&nbsp COMMUNITY
		</button>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="#">QnA BOARD</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">TODAY's HUMOR</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">EMPLOYMENT DATA</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">TODAY's BOOK</a>
			<div class="dropdown-divider"></div>
		</div>
	</div>
	
	<div class="btn-group" style="margin-right: 100px;">
		<button type="button" class="btn btn-danger dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-send"></span>&nbsp CHAT
		</button>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="#">TOTAL CHATROOM</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">MAKE CHATROOM</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">DIRECT MESSAGE</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">ALERT CHANNEL</a>
		</div>
	</div>
	{{/loginedUser}}
</nav>