<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="/lib/materialize.css"  media="screen,projection"/>
<!---->
<link href="/css/bootstrap/mainboot/bootstrap.min.css" rel="stylesheet">

<link href="/icons/glyphicons-23-fire.png" rel="icon" type="image/png"/>
<title>TORP - Tobacco OR Pizza</title>

<link href="/css/simple-sidebar.css" rel="stylesheet">

<link href="/css/bootstrap/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap/bootstrap-theme.css" rel="stylesheet">
<link href="/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
<!---->