<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="display: block;">
	<button type="button" class="btn btn-outline-primary" id="menu-toggle" style="display: inline-block; float: left; margin-top: 1%;"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
	<a class="navbar-brand" style="color: white;"><i class="material-icons" style="font-size:20px">smoking_rooms</i>&nbsp T &nbsp O &nbsp R &nbsp P</a>

	<div class="container" style="display: inline-block; float: right; width: 360px;">
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<!-- <ul class="navbar-nav ml-auto">
				<a class="btn btn-primary" href="/" role="button"><span class="glyphicon glyphicon-home"></span>&nbsp HOME</a>
			</ul> -->

            {{^loginedUser}}		<!--non-login -->
            <div class="btn-group" style="display: inline-block; float: right; margin-left: 3%; margin-right: 30%; margin-top: 3%">
                <button type="button" class="btn btn-info dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/user/joinForm"><span class="glyphicon glyphicon-plus"></span>&nbsp JOIN</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/user/loginForm"><span class="glyphicon glyphicon-log-in"></span>&nbsp LOGIN</a>
                </div>
            </div>

            <div class="btn-group" style="display: inline-block; float: right; margin-left: 1%; margin-top: 3%">
                <a class="btn btn-primary" href="/" role="button"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            {{/loginedUser}}

            {{#loginedUser}}			<!-- login user -->
            <div class="btn-group" style="display: inline-block; float: left; margin-left: 1%; margin-top: 3%;">
                <a class="btn btn-primary" href="/" role="button"><span class="glyphicon glyphicon-home"></span></a>
            </div>

            <div class="btn-group" style="display: inline-block; float: left; margin-left: 1%; margin-top: 3%;">
                <button type="button" class="btn btn-info dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span>&nbsp {{loginedUser.name}}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/user/updateForm"><span class="glyphicon glyphicon-pencil"></span>&nbsp EDIT MY INFO</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-wrench"></span>&nbsp CHANGE PASSWORD</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/user/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp LOGOUT</a>
                </div>
            </div>

            <div class="btn-group" style="display: inline-block; float: left; margin-left: 1%; margin-top: 3%;">
                <!--<button type="button" class="btn btn-success dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--<span class="glyphicon glyphicon-calendar"></span>&nbsp SCHEDULING-->
                <!--</button>-->
                <!--<div class="dropdown-menu">-->
                    <!--<a class="dropdown-item" href="#"><span class="glyphicon glyphicon-time"></span>&nbsp MY SCHEDULE</a>-->
                    <!--<div class="dropdown-divider"></div>-->
                    <!--<a class="dropdown-item" href="/boards"><span class="glyphicon glyphicon-list-alt"></span>&nbsp TODO LIST</a>-->
                <!--</div>-->
                <a class="btn btn-success" style="margin-right: 0.5%;" href="/boards" role="button"><span class="glyphicon glyphicon-list-alt"></span></a>
            </div>

            <div class="btn-group" style="display: inline-block; float: left; margin-left: 1%; margin-top: 3%;">
                <button type="button" class="btn btn-warning dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-globe"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">QnA BOARD</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">TODAY's HUMOR</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">EMPLOYMENT DATA</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">TODAY's BOOK</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>

            <a class="btn btn-danger" style="display: inline-block; float: left; margin-left: 1%; margin-top: 3%;" href="/chat" role="button">
                <span class="glyphicon glyphicon-comment"></span>
            </a>
            {{/loginedUser}}
		</div>
	</div>

	<!--<div class="btn-group" style="margin-right: 0.5%;">-->
		<!--<a class="btn btn-primary" href="/" role="button"><span class="glyphicon glyphicon-home"></span></a>-->
	<!--</div>-->

	<!--{{^loginedUser}}		&lt;!&ndash;non-login &ndash;&gt;-->
	<!--<div class="btn-group" style="margin-right: 0.5%;">-->
		<!--<button type="button" class="btn btn-info dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
			<!--<span class="glyphicon glyphicon-user"></span>-->
		<!--</button>-->
		<!--<div class="dropdown-menu">-->
			<!--<a class="dropdown-item" href="/user/joinForm"><span class="glyphicon glyphicon-plus"></span>&nbsp JOIN</a>-->
			<!--<div class="dropdown-divider"></div>-->
			<!--<a class="dropdown-item" href="/user/loginForm"><span class="glyphicon glyphicon-log-in"></span>&nbsp LOGIN</a>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="btn-group" style="margin-right: 0.5%;">-->
		<!--<button type="button" class="btn btn-success dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
			<!--<span class="glyphicon glyphicon-calendar"></span>-->
		<!--</button>-->
		<!--<div class="dropdown-menu">-->
			<!--<a class="dropdown-item" href="#">LOGIN 이 필요합니다.</a>-->
			<!--<div class="dropdown-divider"></div>-->
			<!--<a class="dropdown-item" href="#">LOGIN 후 이용해주세요.</a>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="btn-group" style="margin-right: 0.5%;">-->
		<!--<button type="button" class="btn btn-warning dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
			<!--<span class="glyphicon glyphicon-globe"></span>-->
		<!--</button>-->
		<!--<div class="dropdown-menu">-->
			<!--<a class="dropdown-item" href="#">QnA BOARD</a>-->
			<!--<div class="dropdown-divider"></div>-->
			<!--<a class="dropdown-item" href="#">TODAY's HUMOR</a>-->
			<!--<div class="dropdown-divider"></div>-->
			<!--<a class="dropdown-item" href="#">EMPLOYMENT DATA</a>-->
			<!--<div class="dropdown-divider"></div>-->
			<!--<a class="dropdown-item" href="#">TODAY's BOOK</a>-->
		<!--</div>-->
	<!--</div>-->

	<!--<a class="btn btn-danger" style="margin-right: 0.5%;" href="/chat" role="button"><span class="glyphicon glyphicon-comment"></span></a>-->
	<!--{{/loginedUser}}-->

	<!--{{#loginedUser}}			&lt;!&ndash; login user &ndash;&gt;-->
	<!--<div class="btn-group" style="margin-right: 0.5%;">-->
		<!--<button type="button" class="btn btn-info dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
			<!--<span class="glyphicon glyphicon-user"></span>&nbsp {{loginedUser.name}}-->
		<!--</button>-->
		<!--<div class="dropdown-menu">-->
			<!--<a class="dropdown-item" href="/user/updateForm"><span class="glyphicon glyphicon-pencil"></span>&nbsp EDIT MY INFO</a>-->
			<!--<div class="dropdown-divider"></div>-->
			<!--<a class="dropdown-item" href="#"><span class="glyphicon glyphicon-wrench"></span>&nbsp CHANGE PASSWORD</a>-->
			<!--<div class="dropdown-divider"></div>-->
			<!--<a class="dropdown-item" href="/user/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp LOGOUT</a>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="btn-group" style="margin-right: 0.5%;">-->
		<!--<button type="button" class="btn btn-success dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
			<!--<span class="glyphicon glyphicon-calendar"></span>&nbsp SCHEDULING-->
		<!--</button>-->
		<!--<div class="dropdown-menu">-->
			<!--<a class="dropdown-item" href="#"><span class="glyphicon glyphicon-time"></span>&nbsp MY SCHEDULE</a>-->
			<!--<div class="dropdown-divider"></div>-->
			<!--<a class="dropdown-item" href="/boards"><span class="glyphicon glyphicon-list-alt"></span>&nbsp TODO LIST</a>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="btn-group" style="margin-right: 0.5%;">-->
		<!--<button type="button" class="btn btn-warning dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
			<!--<span class="glyphicon glyphicon-globe"></span>&nbsp COMMUNITY-->
		<!--</button>-->
		<!--<div class="dropdown-menu">-->
			<!--<a class="dropdown-item" href="#">QnA BOARD</a>-->
			<!--<div class="dropdown-divider"></div>-->
			<!--<a class="dropdown-item" href="#">TODAY's HUMOR</a>-->
			<!--<div class="dropdown-divider"></div>-->
			<!--<a class="dropdown-item" href="#">EMPLOYMENT DATA</a>-->
			<!--<div class="dropdown-divider"></div>-->
			<!--<a class="dropdown-item" href="#">TODAY's BOOK</a>-->
			<!--<div class="dropdown-divider"></div>-->
		<!--</div>-->
	<!--</div>-->

    <!--<a class="btn btn-danger" style="margin-right: 0.5%;" href="/chat" role="button"><span class="glyphicon glyphicon-comment"></span></a>-->
	<!--{{/loginedUser}}-->
</nav>

<!-- Bootstrap core JavaScript -->
<!--<script src='/lib/jquery-2.2.0.min.js'></script>-->
<script src='/js/jquery/jquery.min.js'></script>
<script src="/js/bootstrap.bundle.min.js"></script>		<!-- navBar의 spring boot 기능을 더해주는 스크립트 -->